In [5]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import svm, preprocessing
import pandas as pd
from matplotlib import style
import math

In [6]:
df = pd.DataFrame.from_csv("TimeTablerff.csv")

In [7]:
df

,Birthrate,Deathrate,marriagerate,Divorcerate,Moveout,Hire_all,Hire_man,Hire_women,Hire_1519,Hire_2029,Hire_3039,Wagegap,Gni,Income_roi,Gini,Lease_changerate,Suiciderate
1990-01-01,15.2,5.6,9.3,1.1,"3,231,128",58.6,71.8,46.2,13.2,62.1,74.4,4.62,460.5,9.1,3.72,36.8,7.6
1991-01-01,16.4,5.6,9.6,1.1,"2,957,842",59.1,73.0,46.2,13.4,62.5,74.8,4.65,550.8,12.6,3.58,37.5,7.3
1992-01-01,16.7,5.4,9.6,1.2,"2,859,760",59.4,73.6,46.1,12.9,62.1,74.0,4.65,623.4,6.3,3.52,40.3,8.3
1993-01-01,16.0,5.2,9.0,1.3,"2,863,667",59.1,73.2,46.0,12.1,60.8,74.1,4.71,700,6.2,3.70,41.3,9.4
1994-01-01,16.0,5.4,8.7,1.4,"2,739,689",60.1,74.2,46.9,11.9,62.0,74.6,4.55,817.2,8.2,3.61,43.2,9.5
1995-01-01,15.7,5.3,8.7,1.5,"2,864,939",60.6,74.6,47.6,11.0,63.5,74.6,4.58,947,8.5,3.68,44.7,10.8
1996-01-01,15.0,5.2,9.4,1.7,"2,836,089",60.8,74.4,48.1,10.3,63.9,75.2,4.66,"1,052.40",7.7,3.79,47.7,12.9
1997-01-01,14.4,5.2,8.4,2.0,"2,838,442",60.9,73.9,48.6,9.7,63.9,75.4,4.63,"1,147.00",2.6,3.80,48.1,13.1
1998-01-01,13.6,5.2,8.0,2.5,"2,678,629",56.4,69.2,44.4,8.3,57.4,70.9,4.69,"1,117.50",-4.0,4.55,39.2,18.4
1999-01-01,13.0,5.2,7.6,2.5,"3,024,784",56.7,69.1,45.2,9.0,57.5,71.1,4.73,"1,223.10",2.7,4.62,45.8,15.0
2000-01-01,13.3,5.2,7.0,2.5,"2,845,831",58.5,70.7,47.0,10.3,60.1,72.5,4.89,"1,341.50",3.1,4.05,50.9,13.6
2001-01-01,11.6,5.0,6.7,2.8,"2,932,017",59.0,71.0,47.7,10.1,60.2,72.7,4.90,"1,443.20",1.4,4.29,59.2,14.4
2002-01-01,10.2,5.1,6.3,3.0,"2,994,815",60.0,72.2,48.4,9.4,61.3,73.0,4.93,"1,593.50",3.9,4.34,65.2,17.9
2003-01-01,10.2,5.1,6.3,3.4,"3,007,781",59.3,71.9,47.4,8.6,60.2,72.6,5.01,"1,687.80",2.7,4.22,65.0,22.6
2004-01-01,9.8,5.0,6.4,2.9,"2,793,739",59.8,72.0,48.3,8.4,61.1,72.6,5.03,"1,819.80",3.2,4.41,61.2,23.7
2005-01-01,8.9,5.0,6.5,2.6,"2,815,279",59.7,71.6,48.4,8.0,61.2,72.3,5.15,"1,895.80",1.9,4.55,63.1,24.7
2006-01-01,9.2,5.0,6.8,2.5,"2,946,669",59.7,71.3,48.8,6.7,60.2,73.2,5.13,"1,989.70",1.9,4.62,67.3,21.8
2007-01-01,10.0,5.0,7.0,2.5,"2,922,003",59.8,71.3,48.9,6.6,60.0,72.9,4.99,"2,140.20",1.9,4.84,69.9,24.8
2008-01-01,9.4,5.0,6.6,2.4,"2,792,151",59.5,70.9,48.7,5.9,59.1,72.9,4.93,"2,256.30",0.9,4.88,72.1,26.0
2009-01-01,9.0,5.0,6.2,2.5,"2,728,972",58.6,70.1,47.7,5.4,58.2,71.3,4.72,"2,336.20",0.5,4.97,74.4,31.0
2010-01-01,9.4,5.1,6.5,2.3,"2,662,293",58.7,70.1,47.8,6.1,58.2,72.0,4.77,"2,563.40",2.5,4.82,79.4,31.2
2011-01-01,9.4,5.1,6.6,2.3,"2,604,513",59.1,70.5,48.1,6.8,58.5,72.2,4.80,"2,692.90",1.0,4.82,88.7,31.7
2012-01-01,9.6,5.3,6.5,2.3,"2,512,740",59.4,70.8,48.4,7.0,58.1,72.7,4.63,"2,782.90",1.2,4.67,90.0,28.1
2013-01-01,8.6,5.3,6.4,2.3,"2,423,429",59.5,70.8,48.8,6.9,56.8,73.2,4.70,"2,866.70",3.2,4.56,94.2,28.5
2014-01-01,8.6,5.3,6.0,2.3,"2,507,796",60.2,71.4,49.5,7.7,57.4,73.9,4.79,"2,968.00",2.0,4.42,97.4,27.3

In [8]:
 type(df.index)

pandas.tseries.index.DatetimeIndex

In [9]:
x = np.array(df.index)

In [10]:
y = []
for i in df.columns:
    y.append(i)

print(y)

['Birthrate', 'Deathrate', 'marriagerate', 'Divorcerate', 'Moveout', 'Hire_all', 'Hire_man', 'Hire_women', 'Hire_1519', 'Hire_2029', 'Hire_3039', 'Wagegap', 'Gni', 'Income_roi', 'Gini', 'Lease_changerate', 'Suiciderate']

In [11]:
a = np.array(df[y[5]].values.tolist())[0].replace(",","")
float(a)

AttributeError: 'numpy.float64' object has no attribute 'replace'

In [12]:
def yvalue(y1,y2):
    
    try:
        yy1 = []
        y1name = y1
        y2name = y2
        for i in range(len(df.index)):
            yy1.append(float(np.array(df[y1].values.tolist())[i].replace(",","")))
            
        yy2 = np.array(df[y2].values.tolist())
        corr = np.corrcoef(yy1,yy2)[0,1]

    except: 
        
        try:
            yy2 = []
            y1name = y1
            y2name = y2
            yy1 = np.array(df[y1].values.tolist())
            for i in range(len(df.index)):
                yy2.append(float(np.array(df[y2].values.tolist())[i].replace(",","")))
            corr = np.corrcoef(yy1,yy2)[0,1]
            
        except:
            y1name = y1
            y2name = y2
            yy1 = np.array(df[y1].values.tolist())
            yy2 = np.array(df[y2].values.tolist())
            corr = np.corrcoef(yy1,yy2)[0,1]
            

    return print("{0}과 {1}의 상관계수는 {2} 입니다".format(y1name,y2name,corr))

In [13]:
for i in range (0,16):
    yvalue(y[i],y[i+1])
#     print(y[i],y[i+1])

Birthrate과 Deathrate의 상관계수는 0.6619977389299881 입니다
Deathrate과 marriagerate의 상관계수는 0.6880852321003746 입니다
marriagerate과 Divorcerate의 상관계수는 -0.8654711635074173 입니다
Divorcerate과 Moveout의 상관계수는 -0.11947412469298149 입니다
Moveout과 Hire_all의 상관계수는 -0.09425845373717842 입니다
Hire_all과 Hire_man의 상관계수는 0.7501934171703998 입니다
Hire_man과 Hire_women의 상관계수는 0.09548660813040205 입니다
Hire_women과 Hire_1519의 상관계수는 -0.5539382118731022 입니다
Hire_1519과 Hire_2029의 상관계수는 0.6766214413644823 입니다
Hire_2029과 Hire_3039의 상관계수는 0.7664272573775192 입니다
Hire_3039과 Wagegap의 상관계수는 -0.40938788935867143 입니다
Wagegap과 Gni의 상관계수는 0.36470371961989034 입니다
Gni과 Income_roi의 상관계수는 -0.6166395160147008 입니다
Income_roi과 Gini의 상관계수는 -0.7931812346734192 입니다
Gini과 Lease_changerate의 상관계수는 0.7297108271929857 입니다
Lease_changerate과 Suiciderate의 상관계수는 0.8993907368635357 입니다

In [14]:
y = np.array(df['Birthrate'].values.tolist())
y2 = df['Deathrate'].values.tolist()

In [15]:
new_y = pd.rolling_mean(y,3)

In [ ]:
# plt.plot(x,y,'r-',x,y2,'b--')
plt.plot(x, new_y, 'r-', x, y, 'b--')
plt.show()

In [84]:
np.corrcoef(y,y2)[0,1]

0.66199773892998814